/*Deco del login*/
.login{
    position: absolute;
    background-image: url(./img/fondoFoto.png);
    height: 1070px;
    width: 1910px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center, center center;
    background-size: 101% 100%;
    background-color: black;
    margin: -10px;
}
@keyframes desaparecer{
    0%{opacity: 1;}
    40%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}
.logoSolo{
    opacity: 1;
    position: absolute;
    top: 150px;
    right: 1398px;
    animation: desaparecer 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes login{
    from{opacity: 0;}
    to{opacity: 1;}
}
.cajaLogin{
    position: absolute;
    top: 30px;
    left: 126px;
    width: 595px;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 29px;
    opacity: 0;
    animation: login 9s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    text-align: center;
}
.logoNombre{
    position: absolute;
    right: 270px;
    top: 10px;
    width: 65px;
    height: 70px;
}
.hola{
    margin-top: 81px;
    font-size: 30px;
}
.texto{
    font-size: 16px;
}
.formularioGet{
    position: relative;
    left: 100px;
    text-align: left;
    font-size: 18px;
}
.cuadroLogin{
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    width: 320px;
    font-size: 25px;
}
.botonI{
    border-radius: 25px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 15px;
    width: 170px;
    height: 49px;
}
.textico{
    margin: 5px;
    font-size: 12px;
}
/*Deco de ayuda-----*/
#barraHorizontal{
    position: relative;
}
.linea{
    position: relative;
    display: flex;
    width: 1900px;
    left: -10px;
    top: -20px;
    margin: 7px;
    justify-content: space-around;
    align-items: center;
}
.opciones{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.simboloA{
    width: 1.4em;
    height: 1.5em;
    position: absolute;
    top: 50%;
    left: 6%;
}
.opcionAnadir{
    text-decoration:none;
    color:black;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 60%;
    left: 7.6%;
}
.simboloR{
    width: 1.4em;
    height: 1.5em;
    position: absolute;
    top: 50%;
    left: 15%;
}
.opcionRefresh{
    text-decoration:none;
    color:black;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 32%;
    left: 16.6%;
}
.opcionEliminar {
    text-decoration:none;
    color:black;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 60%;
    left: 25.6%;
}
.simboloE{
    width: 1.2em;
    height: 1.5em;
    position: absolute;
    top: 55%;
    left: 24%;
}
.simboloRP{
    width: 1.8em;
    height: 2em;
    position: absolute;
    top: 40%;
    left: 44.6%;
}
.opcionRepor{
    text-decoration:none;
    color:black;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 59%;
    left: 46.4%;
}
.simbolos{
    width: 1.8em;
    height: 1.58em;
    position: absolute;
    top:50%;
    left: 55%
}
.opcionA{
    text-decoration:none;
    color:black;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 60%;
    left: 57%;
}
.simboLogo{
    width: 2em;
    height: 2em;
    position: absolute;
    top: 40%;
    left: 35%
}
.opcionesTexto{
    text-decoration:none;
    color:black;
    margin-top: 30px;
    height: 4px;
    text-decoration:none
}
#HaAyuda{
    position: absolute;
    left: 314px;
    top: 170px;
    text-align: center;
    
}
.formularioAyuda{
    text-align: left;
    position: relative;
    left: 26px;
}
.ayudaTexto{
    font-weight:bolder;
    padding: 1.2em;
}
.ayudar{
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 1010px;
    height: 40px;
}
#pqr{
    height: 14em;
}
.cancelar{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 20px;
    width: 170px;
    height: 45px;
    position: relative;
    right: 55px;
    top: 35px;
}
.enviar{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 20px;
    width: 170px;
    height: 45px;
    position: relative;
    left: 55px;
    top: 35px;
}
/*Deco de Añadir------*/
.titu {
    position: absolute;
    transform: translateX(264%);
    font-size: 16px;
}
.text {
    position: relative;
    transform: translateX(16%);
    font-size: 17px;
    top: 70px;
    left: 100px
}
.cositos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 310px;
    margin-top: 14px;
}
.simbolitoTu, .simbolitoCa, .fotoPer {
    margin-left: 12px;
    width: 1vi;
}
.fotoPer {
    width: 2vi;
}
.simbolitoTu, .simbolitoCa {
    position: relative;
    top: 7px; 
}
.primer {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: 90px;
    left: -250px;
}
.secun {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: 56px;
    left: -55px;
}
.tercer {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: 22px;
    left: 111px;
}
.cuarto {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: -11px;
    left: 242px;
}
.quinto {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: -45px;
    left: 400px;
}
.sexto {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: -79px;
    left: 600px;
}
.septimo {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: -110px;
    left: 700px;
}
.octavo {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: -145px;
    left: 800px;
}
.noveno {
    position: relative;
    transform: translateX(16%);
    font-size: 11px;
    top: -179px;
    left: 950px;
}
/*Deco de Eliminar----*/
#HaEliminar{
    position: absolute;
    left: 314px;
    top: 170px;
    text-align: center;
}
.dondeEstas{
    text-align: center;
}
.descripción{
    text-align: center;
}
.lineaTitulos{
    position: relative;
    right: 5em;
    width: 63.73em;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
}
.contenidoEliminar{
    position: relative;
    top: 6px;
    left: 3px;
    width: 63.73em;
}
.lineaUno{
    position: relative;
    width: 60em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaDos{
    position: relative;
    width: 60em;
    display: flex;
    margin-top: 5px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaTres{
    position: relative;
    width: 60em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaCuatro{
    position: relative;
    width: 60em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaCinco{
    position: relative;
    width: 60em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaSeis{
    position: relative;
    width: 60em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.indicaT{
    position: relative;
    left: 4px;
}
.fdterminaciónT{
    position: relative;
    left: 20px;
}
.areaT{
    position: relative;
    left: 20px;
}
.indica{
    text-align: left;
    position: relative;
    left: 88px;
    top: 1em;
    width: 168px;
}
.fdterminación{
    text-align: left;
    position: relative;
    left: 406px;
    width: 60px;
}
.area{
    text-align: left;
    position: relative;
    left: 698px;
    bottom: 22px;
    width: 70px;
}
.cuadro{
    border: 1px solid grey;
    border-radius: 1em;
    position: relative;
    width: 60em;
    height: 3em;
}
#Seleccionar:checked + .cuadro {
    background-color: rgb(241, 90, 89);
    border: 1px solid red;
}
#seguro{
    display: block;
    opacity: 0;
    position: absolute;
    left: 155px;
    bottom: 80px;
    width: 19em;
    height: 9em;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 29px;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    padding-bottom: 0;
}
#seguro:target{
    opacity: 1;
    display: block;
}
.arrepentimiento, .dijoQueSi{
    margin: 1em;
    width: 3em;
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #FFFFFF;
    color: black;
    font-size: 1.4em;
}

/*Deco de Reportar---*/
#HaReportes{
    position: absolute;
    left: 314px;
    top: 170px;
    text-align: center;
}
.rectangulo{
    border: 1px solid grey;
    border-radius: 1em;
    position: relative;
    width: 60em;
    height: 3em;
}
#Seleccionar:checked + .rectangulo {
    background-color: rgb(250, 239, 155);
    border: 1px solid rgb(246, 215, 118);   
}



.cuadroo {
    border: 1px solid grey;
    border-radius: 1em;
    position: absolute;
    width: 116em;
    height: 3.6em;
}
.mod1_1 {
    text-align: left;
    position: relative;
    left: 8px;
    top: 0.7em;
    width: 168px;
    font-size: 16px;
}
.mod1_2 {
    text-align: left;
    position: relative;
    left: 200px;
    top: -0.5em;
    width: 150px;
    font-size: 16px;
}
.mod1_3{
    text-align: left;
    position: relative;
    left: 380px;
    bottom: 22px;
    top: -1.6em;    
    width: 70px;
    font-size: 16px;
}
.mod1_4 {
    text-align: left;
    position: relative;
    left: 510px;
    bottom: 22px;
    top: -2.7em;    
    width: 70px;
    font-size: 16px;
}
.mod1_5 {
    text-align: left;
    position: relative;
    left: 690px;
    bottom: 22px;
    top: -3.8em;    
    width: 70px;
    font-size: 16px;
}
.mod1_6 {
    text-align: left;
    position: relative;
    left: 850px;
    bottom: 22px;
    top: -4.9em;    
    width: 70px;
    font-size: 16px;
}
.mod1_7 {
    text-align: left;
    position: relative;
    left: 980px;
    bottom: 22px;
    top: -6em;    
    width: 70px;
    font-size: 16px;
}
.mod1_9 {
    text-align: left;
    position: relative;
    left: 1190px;
    bottom: 22px;
    top: -7.1em;    
    width: 70px;
    font-size: 16px;
}
.short {
    position: absolute;
    width: 1.5%;
    top: 3.2em;
    left: 1285px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.short1 {
    position: absolute;
    width: 1.5%;
    top: 3.9em;
    left: 1285px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.short2 {
    position: absolute;
    width: 1.5%;
    top: 4.6em;
    left: 1285px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.cuadro_2{
    border: 1px solid grey;
    border-radius: 1em;
    position: absolute;
    width: 116em;
    height: 3.8em;
    left: -190px;
    top: 8em;
}
.mod2_1 {
    text-align: left;
    position: relative;
    left: 8px;
    top: 0.7em;
    width: 168px;
    font-size: 16px;
}
.mod2_2{
    text-align: left;
    position: relative;
    left: 195px;
    top: -0.4em;
    width: 168px;
    font-size: 16px;
}
.mod2_3 {
    text-align: left;
    position: relative;
    left: 376px;
    top: -1.6em;
    width: 168px;
    font-size: 16px;
}
.mod2_4 {
    text-align: left;
    position: relative;
    left: 510px;
    top: -2.7em;
    width: 168px;
    font-size: 16px;
}
.mod2_5 {
    text-align: left;
    position: relative;
    left: 686px;
    top: -3.8em;
    width: 168px;
    font-size: 16px;
}
.mod2_6 {
    text-align: left;
    position: relative;
    left: 847px;
    top: -4.8em;
    width: 168px;
    font-size: 16px;
}
.mod2_7 {
    text-align: left;
    position: relative;
    left: 975px;
    top: -6em;
    width: 168px;
    font-size: 16px;
}
.mod2_9 {
    text-align: left;
    position: relative;
    left: 1190px;
    top: -7em;
    width: 168px;
    font-size: 16px;
}
.short3 {
    position: absolute;
    width: 1.5%;
    top: 8em;
    left: 1092px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.short4 {
    position: absolute;
    width: 1.5%;
    top: 8.8em;
    left: 1092px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.short5 {
    position: absolute;
    width: 1.5%;
    top: 9.5em;
    left: 1092px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.cuadro_3{
    border: 1px solid grey;
    border-radius: 1em;
    position: absolute;
    width: 116em;
    height: 3.8em;
    left: -359px;
    top: 13.2em;
}
.mod3_1 {
    text-align: left;
    position: relative;
    left: 10px;
    top: 0.7em;
    width: 168px;
    font-size: 16px;
}
.mod3_2 {
    text-align: left;
    position: relative;
    left: 190px;
    top: -0.4em;
    width: 168px;
    font-size: 16px;
}
.mod3_3 {
    text-align: left;
    position: relative;
    left: 380px;
    top: -1.6em;
    width: 168px;
    font-size: 16px;
}
.mod3_4 {
    text-align: left;
    position: relative;
    left: 510px;
    top: -2.8em;
    width: 168px;
    font-size: 16px;
}
.mod3_5 {
    text-align: left;
    position: relative;
    left: 690px;
    top: -3.9em;
    width: 168px;
    font-size: 16px;
}
.mod3_6 {
    text-align: left;
    position: relative;
    left: 850px;
    top: -5em;
    width: 168px;
    font-size: 16px;
}
.mod3_7 {
    text-align: left;
    position: relative;
    left: 978px;
    top: -6.1em;
    width: 168px;
    font-size: 16px;
}
.mod3_9 {
    text-align: left;
    position: relative;
    left: 1190px;
    top: -7.3em;
    width: 168px;
    font-size: 16px;
}
.short6 {
    position: absolute;
    width: 1.5%;
    top: 13.6em;
    left: 924px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.short7 {
    position: absolute;
    width: 1.5%;
    top: 14.3em;
    left: 924px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.short8 {
    position: absolute;
    width: 1.5%;
    top: 15.1em;
    left: 924px;
    height: 4px;
    margin: 10px 0;
    background-color: black;
}
.cuadro_4{
    border: 1px solid grey;
    border-radius: 1em;
    position: absolute;
    width: 116em;
    height: 3.8em;
    left: -490px;
    top: 18.5em;
}
.mod4_1 {
    text-align: left;
    position: relative;
    left: 10px;
    top: 0.8em;
    width: 168px;
    font-size: 16px;
}
.mod4_2 {
    text-align: left;
    position: relative;
    left: 199px;
    top: -0.4em;
    width: 168px;
    font-size: 16px;
}
.mod4_3 {
    text-align: left;
    position: relative;
    left: 380px;
    top: -1.5em;
    width: 168px;
    font-size: 16px;
}
.mod4_4 {
    text-align: left;
    position: relative;
    left: 510px;
    top: -2.7em;
    width: 168px;
    font-size: 16px;
}
.mod4_5 {
    text-align: left;
    position: relative;
    left: 690px;
    top: -3.9em;
    width: 168px;
    font-size: 16px;
}
.mod4_6 {
    text-align: left;
    position: relative;
    left: 865px;
    top: -5em;
    width: 168px;
    font-size: 16px;
}
.mod4_7 {
    text-align: left;
    position: relative;
    left: 978px;
    top: -6.1em;
    width: 168px;
    font-size: 16px;
}
.mod4_9 {
    text-align: left;
    position: relative;
    left: 1190px;
    top: -7.3em;
    width: 168px;
    font-size: 16px;
}
.cuadro_5{
    border: 1px solid grey;
    border-radius: 1em;
    position: absolute;
    width: 116em;
    height: 3.8em;
    left: -645px;
    top: 24em;
}
.mod5_1 {
    text-align: left;
    position: relative;
    left: 10px;
    top: 0.8em;
    width: 168px;
    font-size: 16px;
}
.mod5_2 {
    text-align: left;
    position: relative;
    left: 199px;
    top: -0.4em;
    width: 168px;
    font-size: 16px;
}
.mod5_3 {
    text-align: left;
    position: relative;
    left: 380px;
    top: -1.5em;
    width: 168px;
    font-size: 16px;
}
.mod5_4 {
    text-align: left;
    position: relative;
    left: 510px;
    top: -2.7em;
    width: 168px;
    font-size: 16px;
}
.mod5_5 {
    text-align: left;
    position: relative;
    left: 690px;
    top: -3.9em;
    width: 168px;
    font-size: 16px;
}
.mod5_6 {
    text-align: left;
    position: relative;
    left: 850px;
    top: -5em;
    width: 168px;
    font-size: 16px;
}
.mod5_7 {
    text-align: left;
    position: relative;
    left: 974px;
    top: -6.1em;
    width: 168px;
    font-size: 16px;
}
.mod5_9 {
    text-align: left;
    position: relative;
    left: 1190px;
    top: -7.3em;
    width: 168px;
    font-size: 16px;
}
.cuadro_6{
    border: 1px solid grey;
    border-radius: 1em;
    position: absolute;
    width: 116em;
    height: 3.8em;
    left: -846px;
    top: 30em;
}
.mod6_1 {
    text-align: left;
    position: relative;
    left: 10px;
    top: 0.8em;
    width: 168px;
    font-size: 16px;
}
.mod6_2 {
    text-align: left;
    position: relative;
    left: 199px;
    top: -0.4em;
    width: 168px;
    font-size: 16px;
}
.mod6_3 {
    text-align: left;
    position: relative;
    left: 380px;
    top: -1.5em;
    width: 168px;
    font-size: 16px;
}
.mod6_4 {
    text-align: left;
    position: relative;
    left: 510px;
    top: -2.7em;
    width: 168px;
    font-size: 16px;
}
.mod6_5 {
    text-align: left;
    position: relative;
    left: 690px;
    top: -3.9em;
    width: 168px;
    font-size: 16px;
}
.mod6_6 {
    text-align: left;
    position: relative;
    left: 850px;
    top: -5em;
    width: 168px;
    font-size: 16px;
}
.mod6_7 {
    text-align: left;
    position: relative;
    left: 974px;
    top: -6.1em;
    width: 168px;
    font-size: 16px;
}
.mod6_9 {
    text-align: left;
    position: relative;
    left: 1190px;
    top: -7.3em;
    width: 168px;
    font-size: 16px;
}