body {
    font-family: 'MyriadProRegular', sans-serif;
}

@font-face {
    font-family: 'MyriadProLight';
    src: url('/fuentes/MyriadProLight.otf') format('truetype');
}

@font-face {    
    font-family: 'MyriadProRegular';
    src: url('/fuentes/MyriadProRegular.ttf') format('truetype');
}
/*Deco del login*/
#loginhtml{
    position: absolute;
    background-image: url(./img/fondoFoto.png);
    height: 1070px;
    width: 1910px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center, center center;
    background-size: 101% 100%;
    background-color: black;
    margin: -10px;
}
@keyframes desaparecer{
    0%{opacity: 1;}
    40%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}
.logoSolo{
    opacity: 1;
    position: absolute;
    top: 27em;
    right: 48.6em;
    animation: desaparecer 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes login{
    from{opacity: 0;}
    to{opacity: 1;}
}
.cajaLogin{
    position: absolute;
    top: 19em;
    left: 43em;
    width: 37.96em;
    height: 30em;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 29px;
    opacity: 0;
    animation: login 9s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    text-align: center;
}
.logoNombre{
    position: absolute;
    right: 270px;
    top: 10px;
    width: 65px;
    height: 70px;
}
.hola{
    margin-top: 81px;
    font-size: 30px;
}
.texto{
    font-size: 16px;
}
.formularioGet{
    position: relative;
    left: 3em;
    text-align: left;
    font-size: 18px;
}
.cuadroLogin{
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    width: 20em;
    font-size: 25px;
}
.botonI{
    position: relative;
    right: 0.1em;
    border-radius: 25px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 1em;
    width: 10.6em;
    height: 3em;
}
.textico{
    margin: 1em;
    font-size: 0.9em;
}
/*----------*/
.loginNombre{    
    position: absolute;
    right: 17em;
    top: 4%;
    width: 6em;
    height: 7em;
}
.cajaLoginDos {
    position: absolute;
    top: 19em;
    left: 41em;
    height: 25em;
    width: 40em;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 2em;
    animation: login 4s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-align: center;
}
.aparece{
    position: relative;
    top: 5em;
    left: 0.2em;
}
.holis{
    margin-top: 2.4em;
    font-size: 2em;
    color: black;
}
.perfil{
    width: 6em;
}
.textiwiris{
    font-size: 1.5em;
    color: black;
}

/*Deco de barra-----*/
#barraHorizontal{
    position: relative;
}
.linea{
    position: relative;
    display: flex;
    width: 1900px;
    left: -3px;
    top: 6px;
    margin: 7px;
    justify-content: space-around;
    align-items: center;
}
.opciones{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.simboloA{
    width: 3.4em;
    position: absolute;
    top: 23%;
    left: 6%;
}
.opcionAnadir{
    text-decoration: none;
    color: black;
    width: 4em;
    position: absolute;
    top: 36%;
    left: 9.3%;
    font-size: 1.4em;
}
.simboloR{
    width: 3.4em;
    position: absolute;
    top: 24%;
    left: 16.7%;
}
.opcionRefresh{
    text-decoration: none;
    color: black;
    width: 4em;
    position: absolute;
    top: 36%;
    left: 20%;
    font-size: 1.4em;
}
.opcionEliminar {
    text-decoration: none;
    color: black;
    width: 4em;
    position: absolute;
    top: 37%;
    left: 32.8%;
    font-size: 1.4em;
}
.simboloE{
    width: 2.7em;
    position: absolute;
    top: 22%;
    left: 30.2%;
}
.simboloRP{
    width: 3em;
    position: absolute;
    top: 22%;
    left: 55.6%;
}
.opcionRepor{
    text-decoration: none;
    color: black;
    width: 4em;
    position: absolute;
    top: 33%;
    left: 58.8%;
    font-size: 1.4em;
}
.simbolos{
    width: 3.5em;
    position: absolute;
    top: 23%;
    left: 67.6%
}
.opcionA{
    text-decoration: none;
    color: black;
    width: 4em;
    position: absolute;
    top: 33%;
    left: 71%;
    font-size: 1.4em;
}
.simboLogo{
    width: 5em;
    height: 5em;
    position: absolute;
    top: -10%;
    left: 42%;
}
.opcionesTexto{
    text-decoration:none;
    color:black;
    margin-top: 30px;
    height: 4px;
    text-decoration:none
}
#HaRefresh{
    color: black;
    font-size: 1vi;
    background-color: white;
    width: 15vi;
    position: relative;
    left: 42vi;
    top: 20vi;
    height: 8vi;
    text-align: center;
}

/*Deco de ayuda-------*/
#HaAyuda{
    position: absolute;
    left: 14vi;
    top: 10vi;
    text-align: center;
    
}
.formularioAyuda{
    text-align: left;
    position: relative;
    left: 26px;
}
.ayudaTexto{
    font-weight:bolder;
    padding: 1.2em;
    font-size: 1.5em;
}
.ayudar{
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 95em;
    height: 3em;
}
#pqr{
    height: 6em;
}
.cancelar{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 1.3vi;
    width: 10vi;
    height: 3vi;
    position: relative;
    right: 2vi;
    top: 3.7vi;
    cursor: pointer;
}
.enviarPR{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 1.3vi;
    width: 15vi;
    height: 3vi;
    position: relative;
    left: 42vi;
    top: 50vi;
    cursor: pointer;
}
.enviarE{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 1.3vi;
    width: 10vi;
    height: 3vi;
    position: relative;
    right: 1vi;
    top: 3.7vi;
    cursor: pointer;
}
.enviarR{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 1.3vi;
    width: 10vi;
    height: 3vi;
    position: relative;
    right: 1vi;
    top: 3.7vi;
    cursor: pointer;
}
.enviarA{
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #ff721b;
    color: white;
    font-size: 1.3vi;
    width: 10vi;
    height: 3vi;
    position: relative;
    right: 1vi;
    top: 3.7vi;
    cursor: pointer;
}
#enviado{
    display: block;
    opacity: 0;
    position: relative;
    left: -50vi;
    top: 0vi;
    width: 3vi;
    height: 3vi;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 10vi;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    padding-bottom: 0;
}
#enviadoA {
    position: absolute;
    top: 20vi;
    left: 38vi;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1vi;
    width: 25vi;
    text-align: center;
    height: 5vi;
    display: block;
    opacity: 0;

}
#enviadoA:target{
    opacity: 1;
}
.correcto{
    width: 6em;
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #FFFFFF;
    color: black;
    font-size: 1em;
    cursor: pointer;
    padding: 0.3em;
    margin-top: 1em;
}
.oki{
    width: 6em;
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #FFFFFF;
    color: black;
    font-size: 1em;
    cursor: pointer;
    padding: 0.3em;
    margin-top: 1em;
}

/*Deco de Añadir------*/


/*Deco de Eliminar----*/
#HaEliminar{
    position: absolute;
    left: 14vi;
    top: 10vi;
    text-align: center;
}
.dondeEstas{
    text-align: center;
    width: 28em;
    font-size: 3em;
}
.descripción{
    text-align: center;
    width: 51em;
    font-size: 1.7em;
}
.lineaTitulos{
    position: relative;
    right: 2.5vi;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    font-size: 1vi;
    margin: 1em;
    margin-top: 1vi;
}
.contenidoEliminar{
    position: relative;
    top: 0vi;
    left: 1vi;
    width: 10vi;
}
.lineaUno{
    position: relative;
    width: 84em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaDos{
    position: relative;
    width: 84em;
    display: flex;
    margin-top: 5px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaTres{
    position: relative;
    width: 84em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaCuatro{
    position: relative;
    width: 84em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaCinco{
    position: relative;
    width: 84em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaSeis{
    position: relative;
    width: 84em;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.indicaT{
    position: relative;
    left: 4px;
}
.fdterminaciónT{
    position: relative;
    left: 20px;
}
.areaT{
    position: relative;
    left: 20px;
}
.indica{
    text-align: left;
    position: relative;
    left: 11em;
    top: 1em;
    width: 12em;
}
.fdterminación{
    text-align: left;
    position: relative;
    left: 38em;
    bottom: 5%;
    width: 4em;
}
.area{
    text-align: left;
    position: relative;
    left: 62.6em;
    bottom: 60%;
    width: 4.3em;
}
.cuadro{
    border: 1px solid grey;
    border-radius: 1em;
    position: relative;
    width: 82em;
    height: 3em;
}
#Seleccionar:checked + .cuadro {
    background-color: rgb(241, 90, 89);
    border: 1px solid red;
}
#seguro{
    display: block;
    opacity: 0;
    position: absolute;
    left: 11em;
    bottom: 4em;
    width: 19em;
    height: 9em;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 29px;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    padding-bottom: 0;
}
#seguro:target{
    opacity: 1;
    display: block;
}
#seguroA{
    display: block;
    opacity: 0;
    position: absolute;
    left: 35vi;
    bottom: 4vi;
    width: 30vi;
    height: 12vi;
    top: 26vi;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 29px;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: 2vi;
    padding-bottom: 0;
}
#seguroA:target{
    opacity: 1;
    display: block;
}
.arrepentimiento, .dijoQueSi{
    margin: 1em;
    width: 3em;
    border-radius: 15px;
    border: 1px solid #ff721b;
    background-color: #FFFFFF;
    color: black;
    font-size: 1.4em;
    cursor: pointer;
}

/*Deco de Reportar---*/
#HaReportes{
    position: absolute;
    left: 14vi;
    top: 10vi;
    text-align: center;
}
.rectangulo{
    border: 1px solid grey;
    border-radius: 1em;
    position: relative;
    width: 82em;
    height: 3em;
}
#Seleccionar:checked + .rectangulo {
    background-color: rgb(250, 239, 155);
    border: 1px solid rgb(246, 215, 118);   
}
#Seleccionar{
    cursor: pointer;
}

/*Decoración de añadir*/

@font-face {
    font-family: 'Myriad pro, regular';
    src: url(./font/Myriad\ Pro\ Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.flex-conteiner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1vi;
}
.mas{
    margin-left: 7vi;
    width: 1.3vi;
}
.Añadir{
    text-decoration: none;
    color: black;
    margin-left: 0.5vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
}
.circul{
    margin-left: 8.5vi;
    width: 1.3vi;
}
.caneca{
    margin-left: 8.5vi;
    width: 1.3vi;
}
.logo{
    margin-left: 8.5vi;
    width: 3vi;
}
.report{
    margin-left: 14.5vi;
    width: 1.3vi;
}
.circle{
    margin-left: 8.5vi;
    width: 1.3vi;
}
.tuerca{
    margin-left: 8.5vi;
    width: 0.8vi;
}
.campana{
    margin-left: 0.5vi;
    width: 0.8vi;
}
.foto{
    margin-left: 0.5vi;
    width: 3vi;
}
.linea{
    position: absolute;
    background-color: rgb(134, 134, 134);
    width: 100vi;
    height: 0.1vi;
    margin-top: 4.5vi;
}
.indicadores{
    position: absolute;
    font-size: 2.7vi;
    font-family: 'Myriad pro, regular';
    top: 6vi;
    left: 38.45vi;
}
.Aqui{
    position: absolute;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 11vi;
    left: 31.9vi;
}
.flex-conteiner2{
    position: absolute;
    display: flex;
    margin-top: 14.5vi;
    margin-left: 8vi;
}
.indicador{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
}
.indicadoor{
    display: none;
}
.descripcion{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 7vi;
}
.categoria{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 7vi;
}
.fecha1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 2vi;
}
.fecha2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 2vi;
}
.formula{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 2vi;
}
.frecuencia{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 2vi;
}
.cumplimiento{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 2.5vi;
}
.areap{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    font-weight: bold;
    margin-left: 4vi;
}
.flex{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80.5vi;
    height: 4.5vi;
    top: 16.5vi;
    left: 7vi;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 1.5vi;
}
.M{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 1vi;
}
.I{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 5.3vi;
}
.B{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.8vi;
}
.cerocinco{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 5vi;
}
.doce{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 6.1vi;
}
.doceA {
    display: none;
}
.Me{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.6vi;
}
.uncuarto{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3.3vi;
}
@property --progress-value {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
  }
  
  @keyframes primer-progress {
    to { --progress-value: 31;}
  }

  .progress-bar {
    width: 3vi;
    height: 3vi;
    margin-left: 6.1vi;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
  }
  
  .primero {
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(241, 37, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    animation: primer-progress 2s 1 forwards;
    font-family: 'Myriad pro, regular';
    font-size: 0.8vi;
  }
  
  .primero::before {
    animation: primer-progress 2s 1 forwards;
  }
  
  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }
.marketingp{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 15vi;
}
.marketingA {
    display: none;
}
.repeat1{
    position: absolute;
    width: 2.5vi;
    height: 2vi;
    top: 17.3vi;
    left: 88vi;
}
.flex1{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80.5vi;
    height: 4.5vi;
    top: 22vi;
    left: 7vi;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 1.5vi;
}
.answer2 {
    display: none;
}
.treintauno1{
    margin-left: 5.5vi;
    width: 2.8vi;
}
.repeat2{
    position: absolute;
    width: 2.5vi;
    height: 2vi;
    top: 23vi;
    left: 88vi;
}
.flex2{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80.5vi;
    height: 4.5vi;
    top: 27.5vi;
    left: 7vi;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 1.5vi;
}
.M1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 1vi;
}
.I1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3vi;
}
.B1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.1vi;
}
.cerocinco1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.5vi;
}
.doce1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 6.1vi;
}
.Me1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.6vi;
}
.uncuarto1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3.3vi;
}
@-webkit-keyframes segundo-progress {
    to {
      --progress-value: 25;
    }
  }
  @keyframes segundo-progress {
    to {
      --progress-value: 25;
    }
  }
  .segundo {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(241, 37, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.8vi;
    -webkit-animation: segundo-progress 2s 1 forwards;
            animation: segundo-progress 2s 1 forwards;
  }
  
  .segundo::before {
    -webkit-animation: segundo-progress 2s 1 forwards;
            animation: segundo-progress 2s 1 forwards;
  }
  
  
.marketingp1{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 13.6vi;
}
.repeat3{
    position: absolute;
    width: 2.5vi;
    height: 2vi;
    top: 28.5vi;
    left: 88vi;
}
.flex3{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80.5vi;
    height: 4.5vi;
    top: 33vi;
    left: 7vi;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 1.5vi;
}
.M2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 1vi;
}
.I2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3vi;
}
.B2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 5vi;
}
.cerocinco2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.5vi;
}
.doce2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 6.2vi;
}
.Me2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 5.4vi;
}
.uncuarto2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.4vi;
}
@-webkit-keyframes tercero-progress {
    to {
      --progress-value: 80;
    }
  }
  @keyframes tercero-progress {
    to {
      --progress-value: 80;
    }
  }
  .tercero {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(41, 189, 22) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.8vi;
    -webkit-animation: tercero-progress 2s 1 forwards;
            animation: tercero-progress 2s 1 forwards;
  }
  
  .tercero::before {
    -webkit-animation: tercero-progress 2s 1 forwards;
            animation: tercero-progress 2s 1 forwards;
  }
.marketingp2{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 14vi;
}
.repeat4{
    position: absolute;
    width: 2.5vi;
    height: 2vi;
    top: 34vi;
    left: 88vi;
}
.flex4{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80.5vi;
    height: 4.5vi;
    top: 38.5vi;
    left: 7vi;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 1.5vi;
}
.M3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 1vi;
}
.I3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 0.5vi;
}
.B3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.6vi;
}
.cerocinco3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 5.5vi;
}
.doce3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 6.2vi;
}
.Me3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.5vi;
}
.uncuarto3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3vi;
}
@-webkit-keyframes cuarto-progress {
    to {
      --progress-value: 32;
    }
  }
  @keyframes cuarto-progress {
    to {
      --progress-value: 32;
    }
  }
  .cuarto {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(241, 37, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.8vi;
    -webkit-animation: cuarto-progress 2s 1 forwards;
            animation: cuarto-progress 2s 1 forwards;
  }
  
  .cuarto::before {
    -webkit-animation: cuarto-progress 2s 1 forwards;
            animation: cuarto-progress 2s 1 forwards;
  }
.marketingp3{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 14vi;
}
.repeat5{
    position: absolute;
    width: 2.5vi;
    height: 2vi;
    top: 39.5vi;
    left: 88vi;
}
.flex5{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80.5vi;
    height: 4.5vi;
    top: 44vi;
    left: 7vi;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 1.5vi;
}
.M4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 1vi;
}
.I4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3vi;
}
.B4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.7vi;
}
.cerocinco4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 5.5vi;
}
.doce4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 6vi;
}
.Me4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 4.5vi;
}
.uncuarto4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 3.2vi;
}
@-webkit-keyframes quinto-progress {
    to {
      --progress-value: 95;
    }
  }
  @keyframes quinto-progress {
    to {
      --progress-value: 95;
    }
  }
  .quinto {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(41, 189, 22) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.8vi;
    -webkit-animation: quinto-progress 2s 1 forwards;
            animation: quinto-progress 2s 1 forwards;
  }
  
  .quinto::before {
    -webkit-animation: quinto-progress 2s 1 forwards;
            animation: quinto-progress 2s 1 forwards;
  }
  @-webkit-keyframes sexto-progress {
    to {
      --progress-value: 75;
    }
  }
  @keyframes sexto-progress {
    to {
      --progress-value: 75;
    }
  }
  .sexto {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(231, 204, 83) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.8vi;
    -webkit-animation: sexto-progress 2s 1 forwards;
            animation: sexto-progress 2s 1 forwards;
  }
  
  .sexto::before {
    -webkit-animation: sexto-progress 2s 1 forwards;
            animation: sexto-progress 2s 1 forwards;
  }
.marketingp4{
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    margin-left: 14vi;
}
.repeat6{
    position: absolute;
    width: 2.5vi;
    height: 2vi;
    top: 45vi;
    left: 88vi;
}
.añadir1{
    position: absolute;
    top: 30vi;
    left: 42.5vi;
    font-size: 1.5vi;
    font-family: 'Myriad pro, regular';
    text-decoration: none;
    color: white;
    background-color: #FF7C32;
    width: 15vi;
    height: 3.5vi;
    border-radius: 1vi;
    line-height: 3.1vi;
    text-align: center;
}
#cuadroSobrepuesto {
    display: none;
    position: absolute;
    top: 0vi;
    left: 85vi;
    z-index: 999;
}

#contenidoCuadro {
    width: 15vi;
    height: 25vi;
    background-image: linear-gradient(to bottom, #E66319 5vi, #3E3737 5vi);
    border-radius: 0.3vi;
}
#cerrarCuadro {
display: block;
}
#mostrarCuadro {
cursor: pointer;
}
#cuadroSobrepuesto:target {
display: block;
}
.cerrar{
    position: absolute;
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    text-decoration: none;
    color: white;
    top: 18.5vi;
    left: 6vi;
}
.cerrarC{
    position: absolute;
    font-size: 1.1vi;
    font-family: 'Myriad pro, regular';
    text-decoration: none;
    color: white;
    top: 23vi;
    left: 6vi;
}
.logologo{
    position: absolute;
    width: 6vi;
    top: 2vi;
    left: 4.5vi;
}
.usuario{
    position: absolute;
    font-size: 1.7vi;
    font-family: 'Myriad pro, regular';
    color: black;
    top: 8.5vi;
    left: 5vi;
}
.config{
    position: absolute;
    width: 2vi;
    top: 11vi;
    left: 2vi;
}
.usuario2{
    position: absolute;
    font-size: 1.3vi;
    font-family: 'Myriad pro, regular';
    color: black;
    top: 11.2vi;
    left: 5vi;
}
.notifi {
    position: absolute;
    width: 2vi;
    top: 15vi;
    left: 2vi;
}
.usuario3{
    position: absolute;
    font-size: 1.3vi;
    font-family: 'Myriad pro, regular';
    color: black;
    top: 15vi;
    left: 5.3vi;
}
.logout{
    position: absolute;
    font-size: 1.5vi;
    font-family: 'Myriad pro, regular';
    text-decoration: none;
    color: black;
    top: 19vi;
    left: 5.3vi;
    width: 8vi;;
}
.out {
    position: absolute;
    width: 2vi;
    top: 19vi;
    left: 2vi;
}
.linea1{
    position: absolute;
    top: 17.2vi;
    left: 88vi;
}
.a{
    background-color: black;
    width: 2.5vi;
    height: 0.3vi;
    margin-top: 0.5vi;
}
.linea2{
    position: absolute;
    top: 22.7vi;
    left: 88vi;
}
.linea3{
    position: absolute;
    top: 28.2vi;
    left: 88vi;
}
.linea4{
    position: absolute;
    top: 33.5vi;
    left: 88vi;
}
.linea5{
    position: absolute;
    top: 39vi;
    left: 88vi;
}
.linea6{
    position: absolute;
    top: 44.5vi;
    left: 88vi;
}

#cuadroSobrepuesto1 {
    display: none;
    position: fixed;
    top: 6vi;
    left: 20vi;
    z-index: 999;
    
}
#contenidoCuadro1 {
    width: 60vi;
    height: 48vi;
    background-color: #cccccc;
    border-radius: 0.3vi;
}
#cerrarCuadro1 {
display: block;
}
#mostrarCuadro1 {
cursor: pointer;
}
#cuadroSobrepuesto1:target {
display: block;
}
.enviar{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 1.3vi;
    font-family: 'Myriad pro, regular';
    top: 45vi;
    left: 27.5vi;
    background-color:#FF7C32;
    width: 5vi;
    height: 2vi;
    border-radius: 0.5vi;
    text-align: center;
    line-height: 2vi;
}
.indicador1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 6vi;
    top: 2vi;
}
.indicador2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 4.2vi;
    left: 5vi;
    border-radius: 0.3vi;
}
.descripcion1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 34vi;
    top: 2vi;
}
.descripcion2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 4.2vi;
    left: 33vi;
    border-radius: 0.3vi;
}
.categoria1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 6vi;
    top: 9vi;
}
.categoria2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 11.5vi;
    left: 5vi;
    border-radius: 0.3vi;
}
.fechai1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 34vi;
    top: 9vi;
}
.fechai2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 11.5vi;
    left: 33vi;
    border-radius: 0.3vi;
}
.fechaF{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 6vi;
    top: 16vi;
}
.fechaF1{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 18.5vi;
    left: 5vi;
    border-radius: 0.3vi;
}
.formula1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 34vi;
    top: 16vi;
}
.formula2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 18.5vi;
    left: 33vi;
    border-radius: 0.3vi;
}
.free0{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 6vi;
    top: 22.8vi;
}
.free{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 25.2vi;
    left: 5vi;
    border-radius: 0.3vi;
}
.cumplimiento1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 34vi;
    top: 22.8vi;
}
.cumplimiento2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 25.2vi;
    left: 33vi;
    border-radius: 0.3vi;
}
.area1{
    position: absolute;
    font-size: 2vi;
    font-family: 'Myriad pro, regular';
    left: 21vi;
    top: 31vi;
}
.area2{
    position: absolute;
    width: 20vi;
    height: 2vi;
    font-size: 1vi;
    font-family: 'Myriad pro, regular';
    top: 33.4vi;
    left: 20vi;
    border-radius: 0.3vi;
}
.indicadorme{
    display: none;
}
.descripcionme{
    display: none;
}
.cumplimientome{
    display: none;
}
.b{
    display: none;
}   
.medialogo{
    display: none;
}
.medialogo1{
    display: none;
}
.answer {
    display: none;
}
.question2 {
    display: none;
}
@media screen and (max-width: 600px) {
    .flex-conteiner{
        flex-direction: column;
        width: 10vi;
        top: 100vi;
    }
    .Añadir{
        display: none;
    }
    .mas{
        display: none;
    }
    .circul{
        display: none;
    }
    .caneca{
        display: none;
    }
    .logo{
        display: none;
    }
    .report{
        display: none;
    }
    .circle{
        display: none;
    }
    .tuerca{
       display: none;
    }
    .campana{
        display: none;
    }
    .foto{
        display: none;
    }
    .linea{
        display: none;
    }
    .flex2{
        display: none;
    }
    
    .flex3{
        display: none;
    }
    .flex4{
        display: none;
    }
    .flex5{
        display: none;
    }
    .linea3{
        display: none;
    }
    .linea4{
        display: none;
    }
    .linea5{
        display: none;
    }
    .linea6{
        display: none;
    }
    .indicadores{
        font-size: 8vi;
        left: 18vi;
        top: 23vi;
    }
    .Aqui{
        display: none;
    }
    .flex-conteiner2{
        flex-direction: column;
        left: 33vi;
        top: 25vi;
    }
    .flex{
        flex-direction: column;
        left: 23vi;
        top: 38vi;
        height: 80vi;
        width: 60vi;
    }
    .categoria{
        display: none;
    }
    .fecha1{
        display: none;
    }
    .fecha2{
        font-size: 5vi;
        margin-top: 16vi;
        margin-left: -10.5vi;
    }
    .formula{
        display: none;
    }
    .frecuencia{
        display: none;
    }
    .areap{
        font-size: 5vi;
        margin-top: 17vi;
        margin-left: 7.5vi;
    }
    .indicador{
        font-size: 5vi;
        margin-top: 7vi;
        margin-left: 3.3vi;
    }
    .answer {
        display: block;
        font-size: 4vi;
        margin-top: 18vi;
        margin-left: 3.3vi;
    }
    .doceA {
        display: block;
        font-size: 4vi;
        margin-top: 18vi;
        margin-left: 3.3vi;
    }
    .descripcion{
        display: none;
    }
    .cumplimiento{
        display: none;
    }
    .M{
       display: none;
    }
    .I{
        display: none;
    }
    .progress-bar{
        display: none;
    }
    .progress-bar::before{
        display: none;
    }
    .primero{
        display: none;    }
    .primero::before{
        display: none;
    }
    .segundo::before{
        display: none;
    }
    .B{
        display: none;
    }
    .cerocinco{
        display: none;
    }
    .doce{
        display: none;
    }
    .Me{
        display: none;
    }
    .uncuarto{
        display: none;
    }
    .marketing{
        display: none;
    }
    .enviarPR{
        display: none;
    }
    .flex1{
        display: none;
    }
    .answer2 {
        display: none;  
    }
    .linea1{
        display: none;
    }
    .a{
        width: 6vi;
        height: 1vi;
    }
    .linea2{
        display: none;
    }
    .segundo{
        display: none;
    }
    .añadir1{
        top: 203vi;
        left: 36.5vi;
        width: 27vi;
        height: 6vi;
        line-height: 6vi;
        font-size: 3vi;
    }
    .indicadorme{
        display: block;
        position: absolute;
        font-family: 'Myriad pro, regular';
        font-weight: bold;
        font-size: 6vi;
        left: 41vi;
        top: 123vi;
    }
    .descripcionme{
        display: block;
        position: absolute;
        font-family: 'Myriad pro, regular';
        font-weight: bold;
        font-size: 4vi;
        left: 38vi;
        top: 142.5vi;
    }
    .logologo{
        width: 15vi;
        top: 2vi;
        left: 10vi;
    }
    .usuario{
        font-size: 5vi;
        top: 17.5vi;
        left: 9.6vi;
    }
    .logout{
        font-size: 3.5vi;
        top: 28vi;
        left: 12vi;
    }
    .login{
        width: 4vi;
        top: 28vi;
        left: 7vi;
    }
    .cerrar{
        font-size: 3vi;
        top: 39vi;
        left: 13.6vi;
    }
    #cuadroSobrepuesto1{
        top: 8vi;
        left: 18vi;
    }
    #contenidoCuadro1{
        width: 73vi;
        height: 155vi;
    }
    .indicador1{
        font-size: 6vi;
    }
    .indicador2{
        width: 60vi;
        height: 5vi;
        top: 9vi;
        font-size: 3vi;
    }
    .descripcion1{
        font-size: 6vi;
        top: 14vi;
        left: 6vi;
    }
    .descripcion2{
        width: 60vi;
        height: 5vi;
        top: 21.5vi;
        left: 5vi;
        font-size: 3vi;
    }
    .categoria1{
        font-size: 6vi;
        top: 28vi;
    }
    .categoria2{
        width: 60vi;
        height: 5vi;
        top: 35vi;
        left: 5vi;
        font-size: 3vi;
    }
    .fechai1{
        font-size: 6vi;
        top: 43vi;
        left: 6vi;
    }
    .fechai2{
        width: 60vi;
        height: 5vi;
        top: 50vi;
        left: 5vi;
        font-size: 3vi;
    }
    .fechaF{
        font-size: 6vi;
        top: 58vi;
        left: 6vi;
    }
    .marketingp {
        display: none;
    }
    .marketingA {
        display: block;
        font-size: 4vi;
        margin-top: 17vi;
        margin-left: 3vi;
    }
    .fechaF1{
        width: 60vi;
        height: 5vi;
        top: 65.5vi;
        left: 5vi;
        font-size: 3vi;
    }
    .formula1{
        font-size: 6vi;
        top: 74vi;
        left: 6vi;
    }
    .formula2{
        width: 60vi;
        height: 5vi;
        top: 81.5vi;
        left: 5vi;
        font-size: 3vi;
    }
    .free0{
        font-size: 6vi;
        top: 90vi;
        left: 6vi;
    }
    .free{
        width: 60vi;
        height: 5vi;
        top: 97.5vi;
        left: 5vi;
        font-size: 3vi;
    }
    .cumplimiento1{
        font-size: 6vi;
        top: 107vi;
        left: 6vi;
    }
    .cumplimiento2{
        width: 60vi;
        height: 5vi;
        top: 114.5vi;
        left: 5vi;
        font-size: 3vi;
    }
    .area1{
        font-size: 6vi;
        top: 124vi;
        left: 6vi;
    }
    .area2{
        width: 60vi;
        height: 5vi;
        top: 131.5vi;
        left: 5vi;
        font-size: 3vi;
    }
    .enviar{
        top: 140vi;
        left: 25.5vi;
        width: 22vi;
        height: 5vi;
        font-size: 3.5vi;
        line-height: 5vi;
    }
    .ver{
        position: absolute;
        top: 109vi;
        left: 43vi;
    }
    .ver1{
        position: absolute;
        top: 192vi;
        left: 43vi;
    }
    .b{
        display: block;
        position: absolute;
        text-decoration: none;
        background-color: gray;
        width: 5vi;
        height: 5vi;
        top:-37vi;
        right: 36vi;
        border-radius: 1vi;
        line-height: 5vi;
        color: white;
        text-align: center;
        font-family: 'Myriad pro, regular';
    }   
    .medialogo{
        position: absolute;
        display: block;
        width: 25vi;
        top: 1vi;
        left: 1vi;
    }
    .medialogo1{
        position: absolute;
        display: block;
        width: 10vi;
        top: 10vi;
        left: 46vi;
    }
}


/*----------Para el celular IPhone 14 pro max----------------------------------------*/
@media (max-width: 768px) {
    body{
        width: 430px;
        height: 932px;
    }
        /*Login*/
    .cajaLogin {
        top: 4vi;
        left: 4vi;
        width: 96.96vi;
        height: 201vi;
        text-align: center;
    }
    .logoNombre {
        right: 140px;
        top: 7px;
        width: 125px;
        height: 150px;
    }
    .hola {
        margin-top: 160px;
        font-size: 8vi;
    }
    .texto {
        font-size: 5.7vi;
    }
    .formularioGet {
        position: relative;
        left: 0em;
        text-align: center;
        font-size: 7vi;
    }
    .cuadroLogin {
        width: 85vi;
        font-size: 7vi;
        height: 12vi;
    }
    .botonI {
        right: -1vi;
        border-radius: 25px;
        font-size: 1.5em;
        width: 7.6em;
        height: 21vi;
    }
    .textico {
        margin-top: 2em;
        font-size: 4.2vi;
        width: 97vi;
        margin-left: 0px;
        margin-right: 0px;
    }
    /*------*/
    .login{
        width: 430px;
        height: 932px;
    }
    .logoSolo {
        top: 13vi;
        right: 96.6em;
        width: 50vi;
    }
    .cajaLoginDos {
        position: absolute;
        top: 10vi;
        left: 1.2em;
        height: 35em;
        width: 95vi;
    }
    .loginNombre {
        right: 8em;
        top: 6%;
        width: 7em;
        height: 8em;
    }
    .aparece {
        position: relative;
        top: 26vi;
        left: 0.2em;
    }
    .holis {
        margin-top: 2.4em;
        font-size: 9vi;
        color: black;
    }
    .perfil {
        width: 8em;
    }
    .textiwiris {
        font-size: 2em;
    }
    /*Refrescar*/
    #HaRefresh {
        color: black;
        font-size: 3vi;
        background-color: white;
        width: 20em;
        position: relative;
        left: 6em;
        top: 22em;    
        text-align: center;
        border-radius: 2em;
    }
    .loguito{
        width: 30vmin;
    }
    /*Ayuda*/
    #HaAyuda{
        position: absolute;
        left: 0;
        top: 170px;
        text-align: left;
    }
    .dondeEstas{
        text-align: center;
        width: 100vi;
        font-size: 2.5em;
        margin: 2vi;
    }
    .descripción{
        text-align: center;
        width: 97vi;
        font-size: 1.5em;
        margin: 2vi;
    }
    .formularioAyuda {
        text-align: center;
        position: relative;
        left: 0;
        width: 102vi;
        top: 3em;
    }
    #enviadoA {
        position: relative;
        top: 80vi;
        left: 17vi;
        width: 70vi;
        height: 40vi;
        font-size: 4vi;
        cursor: pointer;
    }
    .ayudaTexto {
        font-weight: bolder;
        padding: 0;
        font-size: 1.3em;
    }
    .ayudar {
        background-color: #d9d9d9;
        border-radius: 10px;
        border: 1px solid transparent;
        width: 29em;
        height: 3em;
    }
    .cancelar {
        position: relative;
        top: 10vi;
        left: 26vi;
        width: 25vi;
        height: 15vi;
        font-size: 4vi;
        cursor: pointer;
    }
    .enviarE {
        position: relative;
        top: 10vi;
        left: 30vi;
        width: 25vi;
        height: 15vi;
        font-size: 4vi;
        cursor: pointer;
    }
    .enviarR {
        position: relative;
        top: 10vi;
        left: 30vi;
        width: 25vi;
        height: 15vi;
        font-size: 4vi;
        cursor: pointer;
    }
    .enviarA {
        position: relative;
        top: 10vi;
        left: 30vi;
        width: 25vi;
        height: 15vi;
        font-size: 4vi;
        cursor: pointer;
    }
    #enviado {
        left: 83px;
        top: 5em;
        width:20vi;
        height: 10vi;
        text-align: center;
        font-size: 1.5em;
        padding: 0.1em;
    }
    /*Eliminar*/
    #HaEliminar {
        position: absolute;
        left: 0;
        top: 170px;
        text-align: left;
    }
    .cuadro {
        border: 1px solid grey;
        border-radius: 1em;
        position: relative;
        width: 80vi;
        height: 10em;
    }
    .contenidoEliminar {
        left: 23px;
    }
    .lineaTitulos {
        height: 0;
    }
    .indica {
        text-align: center;
        left: 7em;
        top: 2em;
        width: 12em;
    }
    .fdterminación {
        left: 10.5em;
        bottom: -33%;
        width: 4em;
    }
    .area {
        text-align: center;
        left: 10.2em;
        bottom: -49%;
        width: 4.3em;
    }
    .indicaT, .fdterminaciónT, .areaT {
        visibility: hidden;
    }
    #seguro {
        left: 1.5em;
        bottom: 9em;
        width: 9em;
        height: 16em;
    }
    /*Reportar*/
    #HaReportes {
        position: absolute;
        left: 0;
        top: 170px;
        text-align: left;
    }
    .contenidoReportar{
        padding-left: 3vi;
    }
    .rectangulo {
        border: 1px solid grey;
        border-radius: 1em;
        position: relative;
        width: 80vi;
        height: 10em;
    }
    .oki {
        width: 4em;
        padding: 0;
        margin-top: 0;  
    }
}
@property --progress-value {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
  }

  @keyframes primer-progress {
    to { --progress-value: 31;}
  }

  .progress-bar {
    position: absolute;
    width: 1.6vi;
    height: 1.6vi;
    left: 62vi;
    top: 1.6vi;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
  }

  .start {
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(241, 37, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    animation: primer-progress 2s 1 forwards;
    font-family: 'Myriad pro, regular';
    font-size: 0.6vi;
  }

  .start::before {
    animation: primer-progress 2s 1 forwards;
  }     

  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  @-webkit-keyframes segundo-progress {
    to {
      --progress-value: 25;
    }
  }
  @keyframes segundo-progress {
    to {
      --progress-value: 25;
    }
  }
  .start2{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(241, 37, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.6vi;
    -webkit-animation: segundo-progress 2s 1 forwards;
            animation: segundo-progress 2s 1 forwards;
  }

  .start2::before {
    -webkit-animation: segundo-progress 2s 1 forwards;  
            animation: segundo-progress 2s 1 forwards;
  }

  @-webkit-keyframes tercer-progress {
    to {
      --progress-value: 25;
    }
  }
  @keyframes tercer-progress {
    to {
      --progress-value: 80;
    }
  }
  .start3{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(136, 241, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.6vi;
    -webkit-animation: tercer-progress 2s 1 forwards;
            animation: tercer-progress 2s 1 forwards;
  }

  .start3::before {
    -webkit-animation: tercer-progress 2s 1 forwards;  
            animation: tercer-progress 2s 1 forwards;
  }
  
  @-webkit-keyframes for-progress {
    to {
      --progress-value: 25;
    }
  }
  @keyframes for-progress {
    to {
      --progress-value: 32;
    }
  }
  .start4{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(241, 37, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.6vi;
    -webkit-animation: for-progress 2s 1 forwards;
            animation: for-progress 2s 1 forwards;
  }

  .start4::before {
    -webkit-animation: for-progress 2s 1 forwards;  
            animation: for-progress 2s 1 forwards;
  }

  @-webkit-keyframes five-progress {
    to {
      --progress-value: 25;
    }
  }
  @keyframes five-progress {
    to {
      --progress-value: 95;
    }
  }
  .start5{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(136, 241, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.6vi;
    -webkit-animation: five-progress 2s 1 forwards;
            animation: five-progress 2s 1 forwards;
  }

  .start5::before {
    -webkit-animation: five-progress 2s 1 forwards;  
            animation: five-progress 2s 1 forwards;
  }

  @-webkit-keyframes six-progress {
    to {
      --progress-value: 25;
    }
  }
  @keyframes six-progress {
    to {
      --progress-value: 75;
    }
  }
  .start6{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(rgb(241, 153, 37) calc(var(--progress-value) * 1%), rgb(255, 255, 255) 0);
    font-family: 'Myriad pro, regular';
    font-size: 0.6vi;
    -webkit-animation: six-progress 2s 1 forwards;
            animation: six-progress 2s 1 forwards;
  }

  .start6::before {
    -webkit-animation: six-progress 2s 1 forwards;  
            animation: six-progress 2s 1 forwards;
  }
  .mod1_1_1{
    display: none;
  }
  .mod1_5_1{
    display: none;
  }
  .mod1_5_2{
    display: none;
  }
  .mod1_9_1{
    display: none;
  }
  .mod1_9_2{
    display: none;
  }
  .border_1 {
    display: none;
  }
  .plus {
    display: none;  
  }
    @media screen and (max-width: 600px){
        .opciones {
            display: none;
        }
        .titu {
            position: absolute;
            top: 20vi;
            left: -162vi;
            font-size: 4vi;
        }
        .titu1 {
            position: absolute;
            top: 50vi;
            left: 36vi;
            font-size: 6vi;
        }
        .text {
            display: none;
        }
        .primer {
            position: relative;
            font-size: 3vi;
            top: 30vi;
            left: 36vi;
        }
        .cuadroo {
            display: none;
        }
        .secun {
            display: none;
        }
        .tercer {
            display: none;
        }
        .cuarto {
            display: none;
        }
        .quinto {
            display: none;
        }
        .sexto {
            display: none;
        }
        .septimo {
            display: none;
        }
        .octavo {
            display: none;
        }
        .noveno {
            display: none;
        }
        .progress-bar{
            display: none;
        }
        .shortfir {
            display: none;
        }
        .cositos {
            display: none;
        }
        .cuadroo {
            border: 1px solid grey;
            border-radius: 1em;
            position: absolute;
            width: 70vi;
            height: 80vi;
            left: -0.9vi;
        }
        .mod1_1_1 {
            display: block;
            position: absolute;
            top: 70vi;
            left: 31vi;
            font-size: 6vi;
        }
        .mod1_5_1 {
            display: block;
            position: absolute;
            top: 80vi;
            left: 20vi;
            font-size: 6vi;
        }
        .mod1_5_2 {
            display: block;
            position: absolute;
            top: 100vi;
            left: 38.4vi;
            font-size: 6vi;
        }
        .mod1_9_1{
            display: block;
            position: absolute;
            top: 110vi;
            left: 41vi;
            font-size: 6vi;
        }
        .mod1_9_2{
            display: block;
            position: absolute;
            top: 128vi;
            left: 36vi;
            font-size: 6vi;
        }
        .border_1 {
            position: absolute;
            display: block;
            border: 1px solid gainsboro;
            width: 75vi;
            height: 99vi;
            top: 50vi;
            left: 14vi;    
        }
        .plus {
            position: absolute;
            display: block;
            text-align: center;
            line-height: 1vi;
            font-size: 10vi;
            width: 10vi;
            height: 6vi;
            top: 138vi;
            left: 44vi;
            border: 3px solid orange;
            text-decoration: none;
        }
  }
