body {
    background-color: #ff721b;
}
.menu-btn {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 30vi;
    left: 50vi;
    width: 50vi;
}

.menu a {
    color:#ff721b;
    text-decoration: none;
    padding: 5px;
}

.menu:target {
    display: flex;
}

.menu-btn:focus + .menu {
    display: flex;
}

@media (max-width: 600px) {
    .menu-btn {
        display: block;
        position: fixed;
        top: 100px;
        left: 210px;
        z-index: 1;
    }

    .menu {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: 40%;
        flex-direction: column;
        background-color: #333;
        padding: 10px;
    }
}